<div align="center" style="padding:20px 0 0;background-color:#066E7F;line-height:150%;">
  <table width="600" align="center" border="0" cellpadding="0" cellspacing="0" style="background-color: #fff;font-family: Arial,​Helvetica,​sans-serif; color: #7A7A7A;border-radius:13px;width:495pt;border: 1px solid #066E7F; ">
    <tbody >
      <div align="center">
        <table width="576">
          <tr style="height:120px">
            <td valign="top">
              <a title="Bem casados" href="http://www.bemcasados.art.br"><img src="http://www.bemcasados.art.br/assets/images/logo2.png" width="94" height="50" alt="Bem Casados" style="border:none;padding-top:10px;"/></a>
            </td>    
          </tr>
          <tr style="height:12px;"><td><img src="http://wp-uploads.bemcasados.art.br/blog/wp-content/uploads/2012/10/spacer.gif" height="10" /></td></tr>
          <tr>
            <div align="center" style="border-top:50px;line-height:150%">
              <p style="text-align: justify;"> 
                <%= @vendor.name %>, agora você tem uma vitrine online onde as noivas podem te recomendar. Siga nossas dicas e não fique de fora! </b> </p>
            </div>
          </tr>
          <tr>
            <table width="100%" align="center" height="35" style="background-color: #00ADC8;border-radius: 18px 18px 0 0;display:block;">
              <tbody>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
                <tr>
                  <td width="13" valign="middle" style="">
                    <img src="http://wp-uploads.bemcasados.art.br/blog/wp-content/uploads/2012/09/star.png" style="margin:1px 0 0 5px;" alt="Informações"/>
                  </td>
                  <td valign="bottom">
                    <span style="color:#FFFFFF;font-size: 18px;margin:5px 0 0 0;">Consiga recomendações para se destacar na Bem Casados </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </tr>
          <tr>
            <table width="100%" style="border-left: 1px dashed #CCCCCC;border-right: 1px dashed #CCCCCC;border-bottom: 1px dashed #CCCCCC;padding: 2px;border-radius: 0 0 18px 18px;margin-bottom:10px; text-align:center;" align="center">
              <tr>
                <p>Com mais recomendações você aparece na frente de outras empresas na busca e ainda ganha destaque na nossa página inicial. Envie esse link para suas clientes <%= "http://www.bemcasados.art.br/#{@vendor.slug}" %> pedindo uma recomendação.</p>
                <img src="http://wp-uploads.bemcasados.art.br/blog/wp-content/uploads/2012/10/novidades_bemcasados_homepage.jpg" alt="Novidades na Home" height="400" style="border-radius: 13px;"/>
              </tr>
            </table>
          </tr>

          <tr>
            <table width="100%" align="center" height="35" style="background-color: #00ADC8;border-radius: 18px 18px 0 0;display:block;">
              <tbody>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
                <tr>
                  <td width="13" valign="middle" style="">
                    <img src="http://wp-uploads.bemcasados.art.br/blog/wp-content/uploads/2012/09/star.png" style="margin:1px 0 0 5px;" alt="Informações"/>
                  </td>
                  <td valign="bottom">
                    <span style="color:#FFFFFF;font-size: 18px;margin:5px 0 0 0;">Aproveite o boca a boca online </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </tr>

          <tr>
            <table width="100%" style="border-left: 1px dashed #CCCCCC;border-right: 1px dashed #CCCCCC;border-bottom: 1px dashed #CCCCCC;padding: 2px;border-radius: 0 0 18px 18px;margin-bottom:10px; text-align:center;" align="center">
              <tr>
                <p>Mostre seu sucesso com o selo de fornecedor recomendado no seu site e conquiste a confiança de muitas noivas! Para saber mais, mande um e-mail para isabel@bemcasados.art.br</p>
                <img src="http://wp-uploads.bemcasados.art.br/blog/wp-content/uploads/2012/10/banner_2.png" alt="Banner" height="80" style="margin-right:30px;"/>
                <img src="http://wp-uploads.bemcasados.art.br/blog/wp-content/uploads/2012/10/bemcasados_banner.png" alt="Banner" height="80" />
              </tr>
            </table>
          </tr>

          <tr style="text-align:center;">
          <div>
              <p style="margin-top:35px;  ">Muito obrigado pelo carinho,</p>
              <p style="color:#0C7587; font-weight:bold;margin:0;">Equipe Bem Casados</p>
              <img src="http://wp-uploads.bemcasados.art.br/blog/wp-content/uploads/2012/08/lacinho.jpg" width="90px"/><br/>
              www.bemcasados.art.br
            </div>
          </tr>
          <tr style="">
            <p style="text-align:right;">
                <a href="https://www.facebook.com/BemCasadosArtBr" target="_blank" style="display: inline-block;" >
                  <img width="23" height="23" src="http://clients.xhtmlchop.com/blog30568/jg5naykfc30568/wp-content/themes/30568/images/fb.png" alt="Facebook" style="border:none" />
                </a>
                <a href="http://twitter.com/BemCasadosArtBr" target="_blank" style="display: inline-block;">
                  <img width="23" height="23" src="http://clients.xhtmlchop.com/blog30568/jg5naykfc30568/wp-content/themes/30568/images/tweet_03.png" alt="Twitter" style="border:none" />
                </a>
                <a href="http://pinterest.com/bemcasados/" style="display: inline-block;">
                  <img width="23" height="23" src="http://clients.xhtmlchop.com/blog30568/jg5naykfc30568/wp-content/themes/30568/images/pinterest.png" alt="Pinterest" style="border:none" />
                </a>
            </p>
          </tr>
        </table>
      </div>
    </tbody>
  </table>
  <table width="600" align="center" style="font-family: Arial,​Helvetica,​sans-serif;color: #fff;">
    <tbody>
      <tr>
        <p style="margin:0; padding-left: 20px;color: #fff;">Essa mensagem foi enviada para <span><a href="#" style="color: #fff;"> <%= @vendor.email %></a></span></p>
        <p style="margin: 5px 0 0 0; padding-left: 20px;color: #fff;font-size:10px;">
        <span style="font-size:10px"> Deseja cancelar as nossas newsletters? Entre em contato com <a href="#" style="color: #fff">contato@bemcasados.art.br </a></span><br/>
        Copyright &copy; 2012, Bem Casados. Todos os direitos reservados.</p>
      </tr>
    </tbody>
  </table>
</div>