<p>Uma nova recomendação foi feita no Bem Casados:</p>

<p><b>Fornecedor</b>: <%= @vendor.name %></p>
<p><b>Usuário</b>: <%= @user.email_signature %></p>
<p><b>Título</b>: <%= @review.title %></p>
<p><b>Comentários</b>:</p> 
<p><%= @review.content %></p>