<div id="fb-like-box">
  <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FBemCasadosArtBr&amp;width=300&amp;height=260&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%23006f83&amp;stream=false&amp;header=false&amp;appId=206662986014921" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:260px;" allowTransparency="true"></iframe>
</div>