<%= title @vendor.name %>
<div class="content-wrapper">
  <div class="content-iframe">
    <div class="form-wrapper">

      <div class="form-row clearfix">
        <span class="input-shadow-long" style="min-height: 200px; width: 401px;"> 
          <%= label_tag "Descrição" %> <br />
          <%= simple_format(@vendor.description) %>
        </span>
      </div>

	</div>
  </div>
</div>