<% if @search.service_type? %>
    <% if @search.service_type == "Venue" %>
        <% if session[:user_city] == "São Paulo" %>
          <% content_for :adUnits do %>
            <script type='text/javascript'>
              googletag.cmd.push(function() {
                googletag.defineSlot('/7756904/SR_Sidebar_Venue_SaoPaulo_300x250_1', [300, 250], 'div-gpt-ad-1337542684849-47').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Venue_SaoPaulo_300x250_2', [300, 250], 'div-gpt-ad-1337542684849-48').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Venue_SaoPaulo_300x250_3', [300, 250], 'div-gpt-ad-1337542684849-49').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
              });
            </script>
          <% end %>
          <!-- SR_Sidebar_Venue_SaoPaulo_300x250_1 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-47' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-47'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Venue_SaoPaulo_300x250_2 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-48' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-48'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Venue_SaoPaulo_300x250_3 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-49' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-49'); });
          </script>
          </div></div>
        <% else %>
          <% content_for :adUnits do %>
            <script type='text/javascript'>
              googletag.cmd.push(function() {
                googletag.defineSlot('/7756904/SR_Sidebar_Venue_OtherCities_300x250_1', [300, 250], 'div-gpt-ad-1337542684849-44').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Venue_OtherCities_300x250_2', [300, 250], 'div-gpt-ad-1337542684849-45').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Venue_OtherCities_300x250_3', [300, 250], 'div-gpt-ad-1337542684849-46').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
              });
            </script>
          <% end %>
          <!-- SR_Sidebar_Venue_OtherCities_300x250_1 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-44' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-44'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Venue_OtherCities_300x250_2 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-45' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-45'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Venue_OtherCities_300x250_3 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-46' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-46'); });
          </script>
          </div></div>
        <% end %>
    <% elsif @search.service_type == "Catering" %>
        <% if session[:user_city] == "São Paulo" %>
          <% content_for :adUnits do %>
            <script type='text/javascript'>
              googletag.cmd.push(function() {
                googletag.defineSlot('/7756904/SR_Sidebar_Catering_SaoPaulo_300x250_1', [300, 250], 'div-gpt-ad-1337542684849-17').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Catering_SaoPaulo_300x250_2', [300, 250], 'div-gpt-ad-1337542684849-18').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Catering_SaoPaulo_300x250_3', [300, 250], 'div-gpt-ad-1337542684849-19').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
              });
            </script>
          <% end %>
          <!-- SR_Sidebar_Catering_SaoPaulo_300x250_1 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-17' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-17'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Catering_SaoPaulo_300x250_2 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-18' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-18'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Catering_SaoPaulo_300x250_3 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-19' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-19'); });
          </script>
          </div></div>
        <% else %>
          <% content_for :adUnits do %>
            <script type='text/javascript'>
              googletag.cmd.push(function() {
                googletag.defineSlot('/7756904/SR_Sidebar_Catering_OtherCities_300x250_1', [300, 250], 'div-gpt-ad-1337542684849-14').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Catering_OtherCities_300x250_2', [300, 250], 'div-gpt-ad-1337542684849-15').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Catering_OtherCities_300x250_3', [300, 250], 'div-gpt-ad-1337542684849-16').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
              });
            </script>
          <% end %>
          <!-- SR_Sidebar_Catering_OtherCities_300x250_1 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-14' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-14'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Catering_OtherCities_300x250_2 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-15' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-15'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Catering_OtherCities_300x250_3 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-16' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-16'); });
          </script>
          </div></div>
        <% end %>
    <% elsif @search.service_type == "Photography" %>
        <% if session[:user_city] == "São Paulo" %>
          <% content_for :adUnits do %>
            <script type='text/javascript'>
              googletag.cmd.push(function() {
                googletag.defineSlot('/7756904/SR_Sidebar_Photography_SaoPaulo_300x250_1', [300, 250], 'div-gpt-ad-1337542684849-41').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Photography_SaoPaulo_300x250_2', [300, 250], 'div-gpt-ad-1337542684849-42').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Photography_SaoPaulo_300x250_3', [300, 250], 'div-gpt-ad-1337542684849-43').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
              });
            </script>
          <% end %>
          <!-- SR_Sidebar_Photography_SaoPaulo_300x250_1 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-41' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-41'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Photography_SaoPaulo_300x250_2 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-42' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-42'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Photography_SaoPaulo_300x250_3 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-43' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-43'); });
          </script>
          </div></div>
        <% else %>
          <% content_for :adUnits do %>
            <script type='text/javascript'>
              googletag.cmd.push(function() {
                googletag.defineSlot('/7756904/SR_Sidebar_Photography_OtherCities_300x250_1', [300, 250], 'div-gpt-ad-1337542684849-38').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Photography_OtherCities_300x250_2', [300, 250], 'div-gpt-ad-1337542684849-39').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Photography_OtherCities_300x250_3', [300, 250], 'div-gpt-ad-1337542684849-40').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
              });
            </script>
          <% end %>
          <!-- SR_Sidebar_Photography_OtherCities_300x250_1 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-38' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-38'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Photography_OtherCities_300x250_2 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-39' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-39'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Photography_OtherCities_300x250_3 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-40' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-40'); });
          </script>
          </div></div>
        <% end %>
    <% elsif @search.service_type == "Band" %>
        <% if session[:user_city] == "São Paulo" %>
          <% content_for :adUnits do %>
            <script type='text/javascript'>
              googletag.cmd.push(function() {
                googletag.defineSlot('/7756904/SR_Sidebar_Band_SaoPaulo_300x250_1', [300, 250], 'div-gpt-ad-1337542684849-11').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Band_SaoPaulo_300x250_2', [300, 250], 'div-gpt-ad-1337542684849-12').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Band_SaoPaulo_300x250_3', [300, 250], 'div-gpt-ad-1337542684849-13').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
              });
            </script>
          <% end %>
          <!-- SR_Sidebar_Band_SaoPaulo_300x250_1 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-11' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-11'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Band_SaoPaulo_300x250_2 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-12' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-12'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Band_SaoPaulo_300x250_3 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-13' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-13'); });
          </script>
          </div></div>
        <% else %>
          <% content_for :adUnits do %>
            <script type='text/javascript'>
              googletag.cmd.push(function() {
                googletag.defineSlot('/7756904/SR_Sidebar_Band_OtherCities_300x250_1', [300, 250], 'div-gpt-ad-1337542684849-8').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Band_OtherCities_300x250_2', [300, 250], 'div-gpt-ad-1337542684849-9').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Band_OtherCities_300x250_3', [300, 250], 'div-gpt-ad-1337542684849-10').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
              });
            </script>
          <% end %>
          <!-- SR_Sidebar_Band_OtherCities_300x250_1 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-8' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-8'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Band_OtherCities_300x250_2 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-9' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-9'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Band_OtherCities_300x250_3 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-10' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-10'); });
          </script>
          </div></div>
        <% end %>
    <% elsif @search.service_type == "Decoration" %>
        <% if session[:user_city] == "São Paulo" %>
          <% content_for :adUnits do %>
            <script type='text/javascript'>
              googletag.cmd.push(function() {
                googletag.defineSlot('/7756904/SR_Sidebar_Decoration_SaoPaulo_300x250_1', [300, 250], 'div-gpt-ad-1337542684849-23').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Decoration_SaoPaulo_300x250_2', [300, 250], 'div-gpt-ad-1337542684849-24').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Decoration_SaoPaulo_300x250_3', [300, 250], 'div-gpt-ad-1337542684849-25').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
              });
            </script>
          <% end %>
          <!-- SR_Sidebar_Decoration_SaoPaulo_300x250_1 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-23' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-23'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Decoration_SaoPaulo_300x250_2 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-24' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-24'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Decoration_SaoPaulo_300x250_3 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-25' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-25'); });
          </script>
          </div></div>
        <% else %>
          <% content_for :adUnits do %>
            <script type='text/javascript'>
              googletag.cmd.push(function() {
                googletag.defineSlot('/7756904/SR_Sidebar_Decoration_OtherCities_300x250_1', [300, 250], 'div-gpt-ad-1337542684849-20').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Decoration_OtherCities_300x250_2', [300, 250], 'div-gpt-ad-1337542684849-21').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Decoration_OtherCities_300x250_3', [300, 250], 'div-gpt-ad-1337542684849-22').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
              });
            </script>
          <% end %>
          <!-- SR_Sidebar_Decoration_OtherCities_300x250_1 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-20' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-20'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Decoration_OtherCities_300x250_2 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-21' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-21'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Decoration_OtherCities_300x250_3 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-22' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-22'); });
          </script>
          </div></div>
        <% end %>
    <% elsif @search.service_type == "Garment" %>
        <% if session[:user_city] == "São Paulo" %>
          <% content_for :adUnits do %>
            <script type='text/javascript'>
              googletag.cmd.push(function() {
                googletag.defineSlot('/7756904/SR_Sidebar_Dress_SaoPaulo_300x250_1', [300, 250], 'div-gpt-ad-1337542684849-29').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Dress_SaoPaulo_300x250_2', [300, 250], 'div-gpt-ad-1337542684849-30').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Dress_SaoPaulo_300x250_3', [300, 250], 'div-gpt-ad-1337542684849-31').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
              });
            </script>
          <% end %>
          <!-- SR_Sidebar_Dress_SaoPaulo_300x250_1 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-29' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-29'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Dress_SaoPaulo_300x250_2 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-30' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-30'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Dress_SaoPaulo_300x250_3 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-31' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-31'); });
          </script>
          </div></div>
        <% else %>
          <% content_for :adUnits do %>
            <script type='text/javascript'>
              googletag.cmd.push(function() {
                googletag.defineSlot('/7756904/SR_Sidebar_Dress_OtherCities_300x250_1', [300, 250], 'div-gpt-ad-1337542684849-26').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Dress_OtherCities_300x250_2', [300, 250], 'div-gpt-ad-1337542684849-27').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Dress_OtherCities_300x250_3', [300, 250], 'div-gpt-ad-1337542684849-28').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
              });
            </script>
          <% end %>
          <!-- SR_Sidebar_Dress_OtherCities_300x250_1 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-26' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-26'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Dress_OtherCities_300x250_2 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-27' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-27'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Dress_OtherCities_300x250_3 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-28' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-28'); });
          </script>
          </div></div>
        <% end %>
    <% else %>
        <% if session[:user_city] == "São Paulo" %>
          <% content_for :adUnits do %>
            <script type='text/javascript'>
              googletag.cmd.push(function() {
                googletag.defineSlot('/7756904/SR_Sidebar_Other_SaoPaulo_300x250_1', [300, 250], 'div-gpt-ad-1337542684849-35').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Other_SaoPaulo_300x250_2', [300, 250], 'div-gpt-ad-1337542684849-36').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Other_SaoPaulo_300x250_3', [300, 250], 'div-gpt-ad-1337542684849-37').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
              });
            </script>
          <% end %>
          <!-- SR_Sidebar_Other_SaoPaulo_300x250_1 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-35' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-35'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Other_SaoPaulo_300x250_2 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-36' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-36'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Other_SaoPaulo_300x250_3 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-37' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-37'); });
          </script>
          </div></div>
        <% else %>
          <% content_for :adUnits do %>
            <script type='text/javascript'>
              googletag.cmd.push(function() {
                googletag.defineSlot('/7756904/SR_Sidebar_Other_OtherCities_300x250_1', [300, 250], 'div-gpt-ad-1337542684849-32').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Other_OtherCities_300x250_2', [300, 250], 'div-gpt-ad-1337542684849-33').addService(googletag.pubads());
                googletag.defineSlot('/7756904/SR_Sidebar_Other_OtherCities_300x250_3', [300, 250], 'div-gpt-ad-1337542684849-34').addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
              });
            </script>
          <% end %>
          <!-- SR_Sidebar_Other_OtherCities_300x250_1 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-32' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-32'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Other_OtherCities_300x250_2 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-33' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-33'); });
          </script>
          </div></div>
          <!-- SR_Sidebar_Other_OtherCities_300x250_3 -->
          <div class="ad-block">
          <div id='div-gpt-ad-1337542684849-34' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337542684849-34'); });
          </script>
          </div></div>
        <% end %>
    <% end %>
<% else %>
    <% if session[:user_city] == "São Paulo" %>
        <% content_for :adUnits do %>
          <script type='text/javascript'>
            googletag.cmd.push(function() {
              googletag.defineSlot('/7756904/SR_Sidebar_None_SaoPaulo_300x250_1', [300, 250], 'div-gpt-ad-1337545728643-3').addService(googletag.pubads());
              googletag.defineSlot('/7756904/SR_Sidebar_None_SaoPaulo_300x250_2', [300, 250], 'div-gpt-ad-1337545728643-4').addService(googletag.pubads());
              googletag.defineSlot('/7756904/SR_Sidebar_None_SaoPaulo_300x250_3', [300, 250], 'div-gpt-ad-1337545728643-5').addService(googletag.pubads());
              googletag.pubads().enableSingleRequest();
              googletag.enableServices();
            });
          </script>
        <% end %>
        <!-- SR_Sidebar_None_SaoPaulo_300x250_1 -->
        <div class="ad-block">
        <div id='div-gpt-ad-1337545728643-3' style='width:300px; height:250px;'>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337545728643-3'); });
        </script>
        </div></div>
        <!-- SR_Sidebar_None_SaoPaulo_300x250_2 -->
        <div class="ad-block">
        <div id='div-gpt-ad-1337545728643-4' style='width:300px; height:250px;'>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337545728643-4'); });
        </script>
        </div></div>
        <!-- SR_Sidebar_None_SaoPaulo_300x250_3 -->
        <div class="ad-block">
        <div id='div-gpt-ad-1337545728643-5' style='width:300px; height:250px;'>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337545728643-5'); });
        </script>
        </div></div>
    <% else %>
        <% content_for :adUnits do %>
          <script type='text/javascript'>
            googletag.cmd.push(function() {
              googletag.defineSlot('/7756904/SR_Sidebar_None_OtherCities_300x250_1', [300, 250], 'div-gpt-ad-1337545728643-0').addService(googletag.pubads());
              googletag.defineSlot('/7756904/SR_Sidebar_None_OtherCities_300x250_2', [300, 250], 'div-gpt-ad-1337545728643-1').addService(googletag.pubads());
              googletag.defineSlot('/7756904/SR_Sidebar_None_OtherCities_300x250_3', [300, 250], 'div-gpt-ad-1337545728643-2').addService(googletag.pubads());
              googletag.pubads().enableSingleRequest();
              googletag.enableServices();
            });
          </script>
        <% end %>
        <div class="ad-block">
        <!-- SR_Sidebar_None_OtherCities_300x250_1 -->
        <div id='div-gpt-ad-1337545728643-0' style='width:300px; height:250px;'>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337545728643-0'); });
        </script>
        </div></div>
        <!-- SR_Sidebar_None_OtherCities_300x250_2 -->
        <div class="ad-block">
        <div id='div-gpt-ad-1337545728643-1' style='width:300px; height:250px;'>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337545728643-1'); });
        </script>
        </div></div>
        <!-- SR_Sidebar_None_OtherCities_300x250_3 -->
        <div class="ad-block">
        <div id='div-gpt-ad-1337545728643-2' style='width:300px; height:250px;'>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1337545728643-2'); });
        </script>
        </div></div>
    <% end %>
<% end %>