<div class="vendor-list">
	<h3>Fornecedor não cadastrado?</h3>
	<p> Entre em contato conosco e entenda como fazer parte da Bem Casados. <p>
	<%= link_to content_tag(:span, "Cadastro"), cadastro_messages_path, class: "user-button vendor-submit" %>

</div>