<div class="footer-wrapper">
  <footer>
  <nav>
    <ul class="clearfix">
      <li><a href="/contato/cadastro">Fornecedores</a></li>
      <li><%= link_to "Sobre a empresa", about_us_path %></li>
      <li><a href="mailto:contato@bemcasados.art.br" target="_blank">Contato</a></li>
      <li>Termos de uso</li>
      <li class="copyright">Copyright &#169; 2012, Bem Casados. Todos os direitos reservados.</li>
    </ul>
  </nav>
  </footer>
</div>